html {
    background-color: rgb(227, 230, 236);
    font-family:'Dongle', sans-serif;
}

body {
    background-color: rgb(227, 230, 236);
    width: 1250px;
    margin: 0 auto;
    border: 5px dashed black;
    border-radius: 60px;
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 74px;
    text-align: center;
    color:rgb(131, 186, 237);
}

h2 {
    font-size: 48px;
    text-align: center;
    color:rgb(131, 186, 237);
}

.headers {
    font-weight: bold;
    color:rgb(131, 186, 237);
}

img {
    display: block;
    width: 100%;
    margin: 20px auto;
}

p,li {
    margin: 20 px 0;
    font-size: 36px;
    line-height: 2;
    letter-spacing: 1px;
}

.bold {
    font-weight: bold;
    font-size: 48px;
}

li.bold {
    font-style: italic;
}

p.bold {
    text-decoration: underline;
}

.shading  {
    border: rgb(210, 233, 254) 2px;
    border-radius: 7%;
    padding: 0 20px 20px 20px;
    margin: 10px;
    background-color: rgb(210, 233, 254);
}